<!-- app.component.html -->


<div class="container">
    <h1>{{ combinedPath }}</h1>
</div>

<table>

    <tbody>
        <tr>
            <td> 
                <button class="google-drive-header">
                    <span >Name</span>
                    <span >Last modified</span>
                    <span >Size </span>
                </button>
            </td>
        </tr>
        <tr>
            <td> 
                <button (dblclick)="navigateBack()" class="google-drive-root">
                    <img src="https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.folder+31" alt="Google Drive Image" height="30px" width="30px" style="margin-right: 10px;">
                    <span >..</span>
                </button>
            </td>
        </tr>
    </tbody>

        <tr *ngFor="let folder of folders">
            <td> 
                <button (dblclick)="navigateFolder(folder.id, folder.name)" class="google-drive-button">

                    <img [src]="folder.iconLink" alt="Google Drive Image" height="30px" width="30px" style="margin-right: 10px;" >
                    <span >{{folder.name}}</span>
                    <span >{{folder.modifiedTime | date: 'yyyy-MM-dd'}}</span>
                    <span > --- </span>
                    
                
        
                </button>
            </td>
            <td>
                <button (dblclick)="deleteFolder(folder.id)" class="google-drive-delete-button" #deleteBtn>
                    <img src="assets/bin.png" alt="Delete" width="20" height="20">
                </button>

            </td>


        </tr>


        
</table>


