<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Center Content</title>
  <style>
    body, html {
      height: 100%;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .container {
      text-align: center; /* Center the content horizontally */
    }
  </style>
</head>
<body>

<div class="container">
  <div>
    <h2>Bejelentkezés</h2>
  </div>
  <br> 
     

  <div id="g_id_onload"
       data-client_id="1039225441239-asrbvtln57ti6c88igdkar4pm9a5dkrk.apps.googleusercontent.com"
       data-context="signin"
       data-ux_mode="popup"
       data-auto_select="true"
       data-itp_support="true"
       data-callback="handleCredentialResponse">
  </div>

  <div class="g_id_signin"
       data-type="standard"
       data-shape="rectangular"
       data-theme="outline"
       data-text="signin_with"
       data-size="large"
       data-logo_alignment="left">
  </div>
</div>

</body>
</html>
